RewriteEngine On
RewriteBase /
Options +Indexes +FollowSymLinks
IndexOptions FancyIndexing 
IndexOptions FoldersFirst 
IndexOptions HTMLTable
IndexIgnore index-style
IndexOptions ScanHTMLTitles
IndexOptions NameWidth=* 
IndexOptions DescriptionWidth=*
IndexOptions IconHeight=24 
IndexOptions IconWidth=24 
IndexOptions IconsAreLinks
IndexStyleSheet /index-style/stylesheet.css
HeaderName /index-style/header.html
ReadmeName /index-style/footer.html
AddDescription "Systemfolder" lost+found
AddDescription "Available yum/rpm-Repositories" repos
AddDescription "Available ISO-Repositories" isos
AddDescription "Install ISOs for CentOS" centos-isos
AddDescription "Current version" current
AddDescription "CentOS Plus Repo" centosplus
AddDescription "CentOS Extras Repo" extras
AddDescription "CentOS Update Repo" updates
AddDescription "CentOS Base Repo" os
AddDescription "Webmin System-Administration Repo" webmin
AddDescription "CentOS Operating-System" centos
AddDescription "CentOS-Atomic Operating-System" centos-atomic
AddDescription "Version for x86_64 / 64-Bit" x86_64
AddDescription "Alpine-Linux Base Repo" alpine
AddDescription "Alpine-Linux v3.14" v3.14
AddDescription "Alpine-Linux Community Repo" community
AddDescription "Alpine-Linux Main Repo" main
AddDescription "Alpine-Linux Releases Repo" releases
AddDescription "CA-Zertifikate/Certificates" .crt
AddDescription "CA-Zertifikate/Certificates" ca-files
AddDescription "Debian-Install-CD's" debian-cd
